// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$myblack: rgba(26, 26, 26, 1);
$mydarkgrey:rgba(136, 136, 136, 1);
$mygrey:rgba(187, 187, 187, 1);
$mylightgrey:rgba(221, 221, 221, 1);
$mybackgroundlightgrey:rgba(247, 247, 247, 1);
$mywhite: rgba(255, 255, 255, 1);
$myyellow: rgba(254, 253, 2, 1);
$mygreen:rgba(97, 194, 139, 1);
$mydarkgreen: rgba(26, 137, 23, 1)
