.card-top {
  padding: 10px;
}

.card-title {
  font-weight: 600;
  color: $myblack;
}

.card-img-bg {
  height: 250px;
  justify-content: flex-end;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
}

.validate-bet-wrapper {
  width: 100%;
}

.index-category-scroll {
  scrollbar-width: none; /* hide scroll bar for Firefox */
  padding: 10px;
  position:sticky;
  top: $navbar-top-height;
  overflow-x:scroll;
  overflow-y:hidden;
  background-color: white;
  z-index: 1;
}

.index-category-scroll::-webkit-scrollbar {
  display: none; /* hide scroll bar for Chrome, Safari, and Opera */
}

.smiley-category-scroll-bar {
  margin: auto 5px auto auto;
  height: 15px;
  width: auto;
}

.index-category-button {
  width: fit-content;
  border-radius: 50px;
  background-color: black;
  padding: 5px 15px;
  color: white;
  text-align: center;
  margin-right: 10px;
}

.index-category-scroll {
  .inactive {
    background-color: black;
    color: white;
  }
  .active {
    background-color:#FEFD02;
    color: black;
  }
}

.all-bets {
  padding-top: 40px;
}

.index-border-radius-style {
  border-radius: 10px;
  background-color: $mywhite;
}

.index-bottom-border-radius-style {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.index-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.image-position {
  position: relative;
}

.tag-position {
  border-radius: 50px;
  z-index: 0;
  background-color: #FEFD02;
  padding: 5px 15px;
  color: black;
  width: fit-content;
  height: fit-content;
  margin-bottom: 0;
  font-family: roboto;
}

.text-decoration-none {
  text-decoration: none;
  color: white;
}

.text-decoration-none-category {
  text-decoration: none;
}

.index-learn-more-hover:hover {
  background: #FEFD02;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,1);
}
.index-learn-more-button {
  width: 180px;
  border-radius: 50px;
  background-color: black;
  padding: 5px 15px;
  color: white;
  text-align: center;
  margin: 0 auto;
}

.index-card-grey-background {
  background-color:rgba(196,196,196,0.2);
}

.index-card-question{
  font-family: roboto;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  line-height: normal;
}

.index-button-cote{
  border-radius: 10px;
  width: 130px;
}

.index-button-oui{
  background-color: #FEFD02;
  height: fit-content;

  p {
    margin-bottom: -0.5rem;
  }
  p:nth-child(1) {
    font-family: poppins;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: black;
  }

  div {
    display: flex;
    justify-content: space-evenly;
    p {
      margin-bottom: 0rem;
    }
  }

  div p:nth-child(1) {
    font-family: poppins;
    font-weight: 400;
    font-size: 13px;
    color: black;
  }

  div p:nth-child(2) {
    font-family: poppins;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: black;
  }
}

.index-button-non{
  background-color: black;
  height: fit-content;

  p {
    margin-bottom: -0.5rem;
  }
  p:nth-child(1) {
    font-family: poppins;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: #FEFD02;
  }

  div {
    display: flex;
    justify-content: space-evenly;
    p {
      margin-bottom:0rem;
    }
  }

  div p:nth-child(1) {
    font-family: poppins;
    font-weight: 400;
    font-size: 13px;
    color: white;

  }
  div p:nth-child(2) {
    font-family: poppins;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: white;
  }
}


.validated-bet-tag {
  background-color: #61C28B;
  border-radius: 50px;
  text-align: center;
  color: white;
  padding: 5px 15px;
  font-family: poppins;
  font-weight: bold;
  font-size: 18px;
  width: 280px;
}
