.container-account {
  padding-top: 210px;

  .deconnexion-button {
    a {
      display: block;
      text-decoration: none;
      color: $myyellow;
      background-color: $myblack;
      font-size: 15px;
      // font-weight: 600;
      width: fit-content;
      padding: 5px 15px;
      border-radius: 10px;
    }
    p {
      margin-bottom: 0px;
    }
  }
  .edit-info {
    display: flex;
    justify-content: space-between;
  }
}
