.swal2-range {
  input[type="range"] {
    background-color: lightgray;
    border-radius: 35px;
    height: 5px;
    // width: 16px;
  }
  output::after {
    margin-left: none;
    content: asset-url("BetKoinSmall.png");
    // content: ":pièce:";
    display: inline-block;
    // width: 16px;
    // height: 16px;
  }
}
