.swal2-range {
  align-items: center;
  color:lightgray ;
  input[type="range"] {
    background-color: lightgray;
    border-radius: 35px;
    height: 5px;
    align-items: center;
    color:lightgray ;
  }
  output::after {
    content: asset-url("BetKoinSmall.png");
      margin-left: 4px;
    // content: ":pièce:";
    display: inline-block;
    // width: 16px;
    // height: 16px;
  }
}
