h1 {
  margin: 20px;
}

.publication-form {
  width: 80%;
  padding-bottom: 100px;
  align-content: center;
  margin: auto;
  ::placeholder {
    color: rgb(184, 179, 179);
  }
}

.form-check-input {
  position: absolute;
  transform: scale(0);
}

.form-check {
  display: inline-block;
  padding: 0;
}

.form-check-input + label {
  cursor: pointer;
  border: solid black 1px;
  padding: 4px;
  border-radius: 10px;
  display: inline-block;
  margin: 2px;
  font-size: 15px;
  &:hover {
    background-color: yellow;
  }
}

.form-label.url.required {
  #url-second {
    display: none;
  }
}
