.new-bet {
  padding-top: $navbar-top-padding;

}

.smiley-category-publish {
  margin: auto 5px auto auto;
  height: 20px;
  width: auto;
}

.publication-form {
  width: 80%;
  height:600px;
  padding-bottom: $navbar-bottom-padding;
  align-content: center;
  margin: auto;
  ::placeholder {
    color: rgb(184, 179, 179);
  }
}

.form-check-input {
  position: absolute;
  transform: scale(0);
}

.form-check {
  display: inline-block;
  padding: 0;
}

.form-check-input + label {
  cursor: pointer;
  // border: solid black 1px;
  background-color: black;
  color: white;
  padding: 5px 15px 5px 15px;
  border-radius: 50px;
  display: inline-block;
  margin: 2px;
  font-size: 20px;
  &:hover {
    background-color: yellow;
    color: black;
  }
}

.form-label.url.required {
  #url-second {
    display: none;
  }
}
