.userbets {
  padding-top: $navbar-top-padding;
  background-color: $mybackgroundlightgrey;
  text-align: center;
  align-items: center;
  padding-bottom: $navbar-bottom-padding;

  .betlist {
    margin-top: 190px;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    .small-btn {
      font-size: 12px;
      margin: 5px auto;
    }

  .result {
    font-weight: 600;
    font-size: 16px;
    span {
      background-color: $myblack;
      color: $mywhite;
      padding: 4px;
    }
  }

    .right-answer {
      background-color: $green-win;

      p {
        color: white;
      }
    }

    .wrong-answer {
      background-color: $red-lose;

      p {
        color: white;
      }
    }

    .other-choice {
      transform: scale(0.6);
    }

    .disable-btn {
      background-color: darkgray;

      p {
        color: gray;
      }
    }

    .lose-reminder {
      background-color: $red-lose;
      color: white;
      font-weight: 700;
      font-size: larger;
      line-height: 30px;
      position: absolute;
      right: 0;
      left: 0;
      top: 90px;
      font-family: poppins;
      width: 45%;
      border-radius: 5px;
      margin: auto;
      img {
        margin-bottom: 4px;
      }
    }

    .lose-reminder-detail {
      font-family: poppins;
      font-size: 14px;
      color: $red-lose;
      font-weight: bold;
      margin-top: 16px;
      margin-bottom: 0px;
    }

    .win-reminder {
      background-color: $green-win;
      color: white;
      font-weight: 700;
      font-size: larger;
      line-height: 30px;
      position: absolute;
      right: 0;
      left: 0;
      top: 90px;
      font-family: poppins;
      width: 45%;
      border-radius: 5px;
      margin: auto;
      img {
        margin-bottom: 4px;
      }
    }

    .image-card-link {
      a {
      display: block;
      text-decoration: none;
      color: $myblack;
      }

      .clos-tag-position {
        color: darkgray;
        background-color: white;
        width: 65%;
        font-weight: 600;
        margin: 5px auto;
        border-radius: 10px;
        margin-bottom: 1rem;
      }
    }
    .btn-group-user {
      position: fixed;
      top: 220px;
      background-color: $mybackgroundlightgrey;
      width: 100%;
      z-index: 1;
      padding-bottom: 15px;
      display: flex;
      justify-content: space-evenly;

      .btn-active-bet {
        background-color: $mybackgroundlightgrey;
        color: $myblack;
        font-weight: 700;
        text-decoration: none;
        border-bottom: 5px solid $myblack;
      }
      .btn-bet {
        background-color: $mybackgroundlightgrey;
        color: $myblack;
        text-decoration: none;
        font-weight: 600;
      }
    }

    .yellow {
      background-color: $myyellow;
      width: 80%;
      border-radius: 10px;
      box-shadow: 0px 4px 4px 0px rgba(0,0,0,1);
      a {
        display: block;
        text-decoration: none;
        color: $myblack;
        font-weight: 700;
        font-size: 16px;
      }
    }
    .yellow-black {
      background-color: $myblack;
      color: $myyellow;
      font-weight: 800;
      border-radius: 10px;
      width: 80%;
      margin: 0 auto;
      padding: 5px;
      margin-bottom: 15px;
    }
    .win-green-btn {
      background-color: $green-win;
      color: white;
      font-size: 20px;
      font-weight: 700;
      width: 30%;
    }
    .lose-red-btn {
      background-color: $red-lose;
      color: white;
      font-size: 20px;
      font-weight: 700;
      width: 30%;
    }
  }
}

.answer-published {
  transform: scale(0.8);
}
