.userbets {
  padding-top: $navbar-top-padding;
  background-color: $mybackgroundlightgrey;
  text-align: center;
  align-items: center;

  .betlist {
    margin-top: 140px;
    text-align: center;
  }
  .btn-active-bet {
    background-color: $mybackgroundlightgrey;
    color: $myblack;
    text-decoration: none;
    border-bottom: 5px solid $myblack;
    margin-right: 20px;
  }
  .btn-bet {
    background-color: $mybackgroundlightgrey;
    color: $myblack;
    text-decoration: none;
  }
}
