.userbets {
  padding-top: $navbar-top-padding;
  background-color: $mybackgroundlightgrey;
  text-align: center;
  align-items: center;
  padding-bottom: $navbar-bottom-padding;

  .betlist {
    margin-top: 190px;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    .small-btn {
      font-size: 12px;
      margin: 5px auto;
    }
    .card-grey {
      background-color: $mybackgroundlightgrey;
      .card-subtitle {
        font-size: 22px;
        padding: 8px;
      }
      .description-info {
        p {
        color: $myblack;
        font-weight: 600;
        margin-bottom: 5px;
        }
      }
    }
    .btn-group-user {
      position: fixed;
      top: 200px;
      background-color: $mybackgroundlightgrey;
      width: 100%;
      z-index: 1;
      padding-bottom: 15px;
      display: flex;
      justify-content: space-evenly;
      .btn-active-bet {
        background-color: $mybackgroundlightgrey;
        color: $myblack;
        font-weight: 700;
        text-decoration: none;
        border-bottom: 5px solid $myblack;
      }
      .btn-bet {
        background-color: $mybackgroundlightgrey;
        color: $myblack;
        text-decoration: none;
        font-weight: 600;
      }
    }
    .black-info {
      background-color: $mygrey;
      color: $myblack;
      font-weight: 700;
      width: 80%;
      border-radius: 10px;
      margin: 0 auto;
      margin-bottom: 15px;
    }
    .yellow {
      background-color: $myyellow;
      color: $myblack;
      width: 80%;
      font-size: 16px;
      border-radius: 10px;
      font-weight: 700;
      // padding-top: 2px;
      // padding-bottom: 2px;
      box-shadow: 0px 4px 4px 0px rgba(0,0,0,1);
    }
    .yellow-black {
      background-color: $myblack;
      color: $myyellow;
      font-weight: 800;
      border-radius: 10px;
      width: 80%;
      margin: 0 auto;
      padding: 5px;
      margin-bottom: 15px;
    }
  }
}
