<%# <%= f.input :category, as: :radio_buttons, :collection => Bet::CATEGORIES.drop(1).map { |category| image_tag("#{category}.png", class: "smiley-category-publish") + "#{category}"} , :label => "Choisis ta catégorie", class: ""  %>

<h2 class="center-category-title mb-5">Choisis ta catégorie</h2>
<%= f.collection_radio_buttons :category, Bet::CATEGORIES.drop(1).map { |category| ["#{category}", image_tag("#{category}.png", class: "smiley-category-publish") + "#{category}"]} , :first, :last, :label => "Choisis ta catégorie" %>
