<h2>Cateogry</h2>
<%= f.input :category, as: :radio_buttons, :collection => Bet::CATEGORIES.drop(1) , :label => "Choisis ta catégorie" %>


  <% Bet::CATEGORIES.drop(1).each do |category| %>
    <%= link_to image_tag("#{category}.png", class: "smiley-category-scroll-bar") + "#{category}", bets_path(category: "#{category}"), class: "index-category-button mx-1 d-flex text-decoration-none-category #{"active" if params[:category]==category}" %>

   <%= f.input :category, type: "radio", id: "#{category}", value: "#{category}", :label => "Choisis ta catégorie" %>
  <%# data: { controller: 'category-toggle-active', action: 'click->category-toggle-active#toggle', category_toggle_active_target: "category" } %>
  <% end %>
