<div data-controller="search">
  <div class="index-category-scroll d-flex px-3">
    <% Bet::CATEGORIES.each do |category| %>
        <%= link_to image_tag("#{category}.png", class: "smiley-category-scroll-bar") + "#{category}", bets_path(category: "#{category}"), "data-action": "click->search#search", "data-search-target": "filter", class: "index-category-button d-flex text-decoration-none-category #{"active" if params[:category]==category}" %>
    <%# data: { controller: 'category-toggle-active', action: 'click->category-toggle-active#toggle', category_toggle_active_target: "category" } %>
    <% end %>
  </div>

  <div class="px-3 mb-5 all-bets">
    <div class="cards" data-search-target="container">
      <%= render "bets/list", bets: @bets %>
    </div>
  </div>
</div>
