<div class="container">

<div class="cards">
  <% @bets.each do |bet| %>

    <div class="card">
      <div class="p-1 m-1">
        <p class="card-title d-inline float-start"><%= bet.hashtag %></p>
      </div>
      <div class="image-position">
        <%= cl_image_tag(bet.photo.key, class: "card-img-top image-index-style", alt: "Image that illustrates the bet") %>
        <p class="tag-position" data-controller="countdown" data-countdown-target='timer' data-countdown-date-value="<%= bet.expiring_at %>"></p>
      </div>


      <div class="card-body">
        <h5 class="card-title"><%= bet.question %></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  <% end %>
</div>

</div>
