<br>
<p> < <%= link_to "Back", bets_path %><p>
<h1><%= @bet.question %></h1>
<br>
<div class="image-show">
  <%= cl_image_tag(@bet.photo.key, class:'card-img-top image-show-style') %>
</div>
<br>
<%= @bet.description %>
<br>
<div class='button-show'>
  <button type="button" class="btn btn-primary btn-lg">OUI</button>
  <button type="button" class="btn btn-secondary btn-lg">NON</button>
</div>
