<% if notice %>
  <div data-controller="flashes">
    <div class="alert alert-primary alert-dismissible fade show m-1" role="alert" data-flashes-target="flashes">
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

<% end %>
<% if alert %>
  <div data-controller="flashes">
    <div class="alert alert-danger alert-dismissible fade show m-1" role="alert" data-flashes-target="flashes">
      <%= alert %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>
