<div class="navbar-top d-flex justify-content-around">
  <%# <%= link_to destroy_user_session_path, style: "visibility: hidden" do %>
    <%# <i class="fas fa-grip-lines"></i> %>
  <%# <% end %>
  <div class="logo-bet-news">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", width: "70" %>
    <% end %>
  </div>
  <div class="parameter-icon">
    <%= link_to destroy_user_session_path, style: "#{'visibility: visible' unless current_page?(root_path) }", method: :delete do %>
      <i class="fas fa-cog pt-2"></i>
    <% end %>
  </div>
</div>
