<div class="background-navbar">
  <div class="navbar-user d-flex align-items-center flex-column">
    <%= cl_image_tag current_user.photo.key, class: "avatar" %>
    <%= @current_user.username%>
  </div>
</div>
