<div class="home-container">

  <div class="d-flex justify-content-around pt-5">
    <%= image_tag("logo.png", class: "logo-log-in") %>
  </div>

  <h1>Bienvenue sur BetNews</h1>

  <div id="carouselExampleIndicators" class="carousel slide bg-white" data-bs-interval="false" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item p-5 active">
            <h5> <strong>S'informer sur l' actualité </strong></h5>
            <p class="mb-5">Découvre les sujets tendance et nos paris en cours. </p>


          </div>
          <div class="carousel-item p-5">

            <h5> <strong>Propose des paris </strong></h5>
            <p class="mb-5">Devient  propulseur des conversations autour d’un sujet
Envoi les résultats et à une conversation avec les participants
</p>



          </div>
          <div class="carousel-item p-5">

            <h5> <strong>Vote</strong> </h5>
            <p class="mb-5">Participe aux  sujets d'aujourd'hui et partage ton avis avec notre communauté</p>



          </div>
        </div>
  </div>

  <p class="bets-available-button bets-available-hover bets-available-shadow"><%= link_to "Paris disponibles", bets_path %></p>

</div>
