<div class="home-container">
  <h1>Bienvenue sur BetNews</h1>

  <div id="carouselExampleIndicators" class="carousel slide bg-white" data-bs-interval="false" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item p-5 active">
            <h5>S'informer sur l' actualité </h5>
            <p class="mb-5">Balayez verticalement pour découvrir les sujets tendance et nos paris en cours. Touchez pour lire plus ou pour parier à l’instant</p>


          </div>
          <div class="carousel-item p-5">
            <h5>Tuto step #2</h5>
            <p class="mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae odit explicabo, perspiciatis aut dolore fugiat eveniet excepturi cumque nihil facere quia voluptas minus aliquam facilis magnam beatae! Facere, ducimus reiciendis!</p>


          </div>
          <div class="carousel-item p-5">
            <h5>Tuto step #3</h5>
            <p class="mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae odit explicabo, perspiciatis aut dolore fugiat eveniet excepturi cumque nihil facere quia voluptas minus aliquam facilis magnam beatae! Facere, ducimus reiciendis!</p>


          </div>
        </div>
  </div>

  <p class="bets-available-button bets-available-hover bets-available-shadow"><%= link_to "Paris disponibles", bets_path %></p>

</div>
