<div class="container-wip-global mt-5">
  <div class="container-wip p-4">
    <p> Cette page est<strong> en cours de réalisation</strong>. Merci de revenir ultérieurement.</p>
  </div>
  <div class="d-flex justify-content-around">
    <iframe class ="iframe" src="https://giphy.com/embed/RlPxfcaPBOePTyKUNp" width="351" height="343" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>
</div>
