.navbar-top {
  position: fixed;
  top: 0;
  justify-content: space-between;
  height: $navbar-top-height;
  width: 100%;
  background-color: $mywhite;
  color: $myblack;
  padding-top: 6px;
  padding-bottom: 6px;
  z-index: 1;
  img {
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
